#avatar {
    width: 230px;
    height: 230px;
    border: 10px solid #ff5252;
    display:block;
    margin:0 auto;
}
.section {
    color: white;
    font-weight: 300;
}
.center-align, .card {
    margin-top: -1px !important;
}

.card .card-content {
    padding: 10px 20px 0px 20px !important;
}

a:hover {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    background-color: #f44336;
}

a {
    color: #FFF;
}

.center-align {
    font-weight: 900;
}