$f1: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
$f2: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
$f3: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
article {
    max-width: 90vw;
    padding: 5vh 5vw;
    margin: 1vh 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    .index-meta {
        font-family: $f3;
        font-weight: 300;
        font-size: 15px;
        line-height: .9;
        color: #000;
        a {
            color: #000;
        }
    }
    .index-title, .arc-title {
        font-family: $f2;
        font-size: 2em;
        font-weight: 600;
        margin: 3vh 0 2vh;
        line-height: 1;
        color: #222;
        a {
            color: #222;
        }
    }
    .excerpt {
        font-family: $f3;
        font-weight: 300;
        line-height: 1.5;
        color: #555;
        a {
            font-family: $f3;
            text-decoration-skip: ink;
            color: #555;
        }
    }
}
article:first-child {
    margin-top: 0
}
article:last-child {
    margin-bottom: 0
}
.pager {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f8f8f8;
    color: #fff;
    .page-number, .extend {
        font-family: $f3;
        padding: 8px 40px;
        color: #000;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .current {
        display: none;
    }
}

footer {
    padding: 20px 0;
    text-align: center;
    background: #000;
    a, p {
        color: #888;
    }
    a {
        display: block;
        width: 100vw;
        margin: 20px 0;
    }
}