body, div, ul, li, ol {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

ul, li, ol {
    list-style: none;
}

.title, .week {
    width:100%;
    height: 12.5%;
    text-align: center;
}

.wrapper {
    background-color: black;
    position: relative;
    margin: 30px auto;
    height: 500px;
    width: 800px;
    z-index:10;
}

#next, #prev {
    position: absolute;
    top: 2%;
    cursor: pointer;
    z-index: 20;
}

#next {
    right:6%;
}

#prev {
    left:6%;
}

li {
    display: inline-block;
}

.date1, .date2, .date3, .date3, .date4, .date5, .date6, .date7 {
    width: 13.75%;
    max-height: 100%;
    font-size: 2em;
}

.title {
    font-size: 2.5em;
}